#root {
  margin: 0;
  padding: 0;
  
}

.App {
  height: 100vh;
  text-align: center;
  background-image: url('../Images/back.png');
  background-size: 100% 100%;
}

.container {
  width: 67vw;
  margin: 0 auto;
  padding: 0px;
}